__pycache__
*.pyc
*.pyo
*.pyd
*.pytest_cache
*.DS_Store
.env
venv/
.env.local
.git
.gitignore
.idea
.vscode
.mypy_cache

# Python build artifacts
build/
dist/
*.egg-info/

# Docker
**/.dockerignore
**/Dockerfile

# Byte-compiled
**/__pycache__/
